@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* reset some default style */

:root {
  --primary-color: #ff5400;
  --primary-text-color: #131318;
  --secondary-text-color: #424247;
  --third-text-color: #5a5a5d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* some custom styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-text-color);
}
.active {
  color: var(--primary-color) !important;
  font-weight: 700 !important;
}
.btn-primary {
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-weight: 900;
  font-size: 1.25rem;
  background-color: var(--primary-color);
}
input,
select {
  padding: 10px;
  color: var(--secondary-text-color);
  border: none;
  border-radius: 6px;
  outline: none;
}
/* 
==========
header area styles
==========
*/
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

nav#navbar ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo span {
  color: var(--primary-color);
}
.logo h1 {
  font-size: 2.25rem;
  font-weight: 900;
}

nav#navbar ul li a {
  font-size: 1.125rem;
  color: var(--secondary-text-color);
}
/* 
banner area styles
========
*/
.banner-area {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0) 0%,
      rgba(19, 19, 24, 0.14889705882352944) 0%,
      rgba(19, 19, 24, 0.8239670868347339) 100%
    ),
    url("../Images/bridge-hill.png");
  height: 500px;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 10px;
  background-size: cover;
}
.banner-text {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  text-align: center;
}
.banner-text h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
}

.banner-text p {
  color: #fff;
  font-size: 1rem;
  margin: 1rem 0rem;
}
.search-input-group {
  background: #ffffff42;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-input-group input,
select,
button {
  width: 130px;
  color: var(--secondary-text-color);
}

.search-input-group button {
  font-weight: 500;
  font-size: 1rem;
  padding: 11px 20px;
}
