@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* reset some default style */

:root {
  --primary-color: #ff5400;
  --primary-text-color: #131318;
  --secondary-text-color: #424247;
  --third-text-color: #5a5a5d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* some custom styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
}
p {
  color: var(--third-text-color);
  line-height: 1.625rem;
}
.active {
  color: var(--primary-color) !important;
  font-weight: 700 !important;
}
.btn-primary {
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--primary-color);
  cursor: pointer;
}
input,
select {
  padding: 10px;
  color: var(--secondary-text-color);
  border: none;
  border-radius: 6px;
  outline: none;
}
/* 
==========
header area styles
==========
*/
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo span {
  color: var(--primary-color);
}
.logo h1 {
  font-size: 2.25rem;
  font-weight: 900;
}
nav#navbar ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav#navbar ul li a {
  font-size: 1.125rem;
  color: var(--secondary-text-color);
}
.mobile-menu {
  font-size: 1.35rem;
  display: none;
}
/* 
banner area styles
========
*/
.banner-area {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0) 0%,
      rgba(19, 19, 24, 0.14889705882352944) 0%,
      rgba(19, 19, 24, 0.8239670868347339) 100%
    ),
    url("../Images/bridge-hill.png");
  height: 500px;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 10px;
  background-size: cover;
}
.banner-text {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  text-align: center;
}
.banner-text h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
}

.banner-text p {
  color: #fff;
  font-size: 1rem;
  margin: 1rem 0rem;
}
.search-input-group {
  background: #ffffff52;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-input-group > input,
select {
  width: 130px;
  color: var(--secondary-text-color);
}
.search-input-group > button {
  width: 130px;
}

.search-input-group button {
  font-weight: 500;
  font-size: 1rem;
  padding: 11px 20px;
}

/* out tours area styles */
.our-tours-area {
  display: flex;
  margin: 5rem 0;
  gap: 5rem;
  justify-content: space-between;
}
.tours-text {
  width: 55%;
}
.tour-img {
  width: 45%;
}
.tour-img img {
  width: 100%;
}
.tours-text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 15px;
}
.tours-text p,
li {
  color: var(--third-text-color);
  line-height: 1.625rem;
}
.tours-text ul {
  margin: 2rem 3rem;
}
.tours-text ul li {
  list-style: disc;
  margin-bottom: 10px;
}
.tours-text button {
  margin-top: 30px;
  font-size: 1.25rem;
}

/* destination area  */
.destination-area {
  margin-bottom: 5rem;
}
.destination-area h1 {
  text-align: center;
  font-size: 2.5rem;
}

.destination-area p {
  margin: 2rem 0;
  text-align: center;
  color: var(--third-text-color);
}
.destination-img-group {
  display: grid;
  gap: 1rem;
}

.row-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 286px;
}

.destination-img-group img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 286px;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  height: 286px;
}

.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 286px;
}
.top-img-text {
  position: relative;
}

.top-img-text h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 8rem;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
}

/* why choose us */
.choose-us-area {
  margin-bottom: 5rem;
}
.choose-us-area h1 {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.choose-us-area > p {
  text-align: center;
  margin-bottom: 2rem;
}
.card-row-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}

.card {
  background-color: #fffbf7;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #feedd9;
}
#card-2 {
  background-color: #f4fdff;
  border: 1px solid #cbf4fd;
}
.card:last-child {
  justify-content: center;
}
.card img {
  width: 60px;
  margin-bottom: 1rem;
}
.card h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  font-weight: 400;
}
.card-row-2 {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
}

div#middle-card {
  width: 49%;
}
/* deals and discount area */
.deals-area {
  margin-bottom: 5rem;
}

.deals-area > h2 {
  font-size: 2.5rem;
  text-align: center;
}

.deals-area > p {
  text-align: center;
  margin: 2rem 0rem;
}
.deals-row-1 {
  background-image: url("../Images/beach.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.deals-row-2 {
  background-image: url("../Images/resort.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.deals-img-text {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.deals-img-text-row-2 {
  display: flex;
  align-items: center;
  height: 100%;
}
.deals-upper-text {
  width: 50%;
  background-color: #ffffffb0;
  margin-right: 3rem;
  padding: 3rem;
  border-radius: 10px;
}
#deals-upper-text-row-2 {
  margin-right: 0;
  margin-left: 3rem;
}
.deals-upper-text h3 {
  font-weight: 800;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.deals-upper-text h4 {
  font-size: 1.25rem;
  margin: 1rem 0;
  color: var(--primary-color);
  font-weight: 800;
}
.text-top span {
  margin-right: 30px;
  color: var(--third-text-color);
}

.text-top i {
  margin-right: 5px;
  color: var(--primary-color);
}

.text-top {
  margin-bottom: 20px;
}
/* simple area */
.simple-area {
  display: flex;
  gap: 1.7rem;
  margin-bottom: 5rem;
}

.simple-area-text {
  width: 50%;
}

.simple-area-img {
  width: 50%;
  position: relative;
}
.simple-area-text h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

.simple-area-text ul {
  margin: 1.5rem 0 1.5rem 1.4rem;
}

.simple-area-text ul li {
  list-style: disc;
  margin-bottom: 14px;
}

.simple-area-text p {
  margin-top: 1rem;
}
.simple-area-img img {
  width: 100%;
  height: 100%;
}
.simple-area-img video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 37%;
  border-radius: 10px;
}
/* newsletter area */
.newsletter-area {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 5rem;
}

.newsletter-mailbox {
  width: 45%;
  border: 1px solid var(--primary-color);
  padding: 2rem;
  border-radius: 10px;
}

.newsletter-img {
  width: 55%;
  position: relative;
}

.newsletter-img img {
  width: 100%;
  border-radius: 10px;
}

.newsletter-mailbox h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.newsletter-mailbox p {
  line-height: 1.625rem;
  margin-bottom: 1.8rem;
}

.newsletter-mailbox hr {
  margin-bottom: 1.6rem;
  border: 0.3px solid #e7e7e8;
}

.inputbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputbox input {
  padding: 10px 20px;
  background: #ddd;
  font-size: 1.09rem;
  height: 48px;
}
.save-card {
  position: absolute;
  bottom: 4.4rem;
  right: 0;
  background: var(--primary-color);
  padding: 15px 20px;
  text-align: center;
  border-radius: 10px;
  transform: rotate(-30deg);
  transform-origin: bottom;
}

.save-card h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3px;
}

.save-card h1 {
  color: #fff;
  font-size: 2rem;
}
/* footer area */
footer {
  background: #f3f3f3;
  padding: 100px 0;
  text-align: center;
}
#footer-logo {
  justify-content: center;
}

.footer-area p {
  margin: 1.1rem 0;
}

.social-icon i {
  margin-right: 1.1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--secondary-text-color);
}

.footer-area hr {
  margin: 3rem 0;
  border: 1px solid #d8d8d8;
}
