@media screen and (max-width: 575.98px) {
  .container {
    margin: 0 1rem;
  }
  p {
    font-size: 0.875rem;
  }
  #navbar {
    display: none;
  }
  .logo img {
    width: 40px;
  }
  .logo h1 {
    font-size: 1.313rem;
  }
  .banner-text h1 {
    font-size: 1.375rem;
    font-weight: 800;

    font-size: 1.375rem;
  }
  .mobile-menu {
    display: block;
  }
  .search-input-group {
    flex-direction: column;
    gap: 1rem;
    width: 80%;
  }
  .search-input {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .search-input-group input,
  select {
    padding: 20px;
  }
  .search-input-group > input,
  select {
    width: 100% !important;
  }
  .search-input-group > button {
    width: 100% !important;
  }
  /* tours area */
  .our-tours-area {
    flex-direction: column;
    margin: 2rem 0;
    gap: 2rem;
  }
  .tours-text {
    width: 100%;
  }
  .tour-img {
    width: 100%;
  }
  /* destination area */
  .destination-area {
    margin-bottom: 2rem;
  }
  .destination-area p {
    margin-top: 1rem;
  }
  .destination-img-group .row-1,
  .row-2,
  .row-3 {
    grid-template-columns: 1fr;
    height: 100%;
  }
  /* why choose us area  */
  .choose-us-area {
    margin-bottom: 2rem;
  }
  .choose-us-cards .card-row-1 {
    grid-template-columns: 1fr;
  }
  .choose-us-cards .card-row-2 {
    flex-direction: column;
  }
  #middle-card {
    width: 100% !important;
  }

  /* deals & discount */
  .deals-area {
    margin-bottom: 2rem;
  }
  .deals-img-text {
    justify-content: center;
  }
  .deals-upper-text {
    width: 80%;
    padding: 1.4rem;
    margin-right: 0;
    margin-bottom: -77px;
  }
  .deals-img-text-row-2 {
    justify-content: center;
  }
  #deals-upper-text-row-2 {
    margin-right: 0;
    margin-left: 0;
  }
  .text-top span:first-child {
    display: block;
    margin-bottom: 1.2rem;
  }
  #deals-bottom-btn {
    display: none;
  }
}
